GB_Test_Valeriy_Romanovskiy.csproj
obj/GB_Test_Valeriy_Romanovskiy.csproj.nuget.dgspec.json
obj/GB_Test_Valeriy_Romanovskiy.csproj.nuget.g.props
obj/GB_Test_Valeriy_Romanovskiy.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.AssemblyInfo.cs
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.AssemblyInfoInputs.cache
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.assets.cache
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.csproj.AssemblyReference.cache
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/GB_Test_Valeriy_Romanovskiy.GlobalUsings.g.cs
